html,body {
  height: 100%
}



.panel-jumbotron {
    left: 0;
    width: 100%;
    text-align: left;
    height: 7%;
}

.container-fluid {
  height: 89%;
  width: 100%;
  text-align: center;
}



.footer {

    left: 0;
    bottom: 0;
    width: 100%;
    height: 4%;
    text-align: center;
}
